.ig_action_bar.ig_solid.ig_container {
    background-color:#4E3363;
    color: #FFF;
}

.ig_action_bar.ig_solid .ig_data {
    max-width: 75%;
    float: left;
    text-align: left;
}
.ig_action_bar.ig_solid .ig_headline,
.ig_action_bar.ig_solid .ig_message {
    display: block;
}
.ig_action_bar.ig_solid .ig_button, 
.ig_action_bar.ig_solid input[type="submit"], 
.ig_action_bar.ig_solid input[type="button"] {
    background: #008010;
    float: right;
    border-radius: 0.1em;
}

.ig_action_bar.ig_solid .ig_button:hover, 
.ig_action_bar.ig_solid input[type="submit"]:hover, 
.ig_action_bar.ig_solid input[type="button"]:hover {
    box-shadow: inset 0 -4em 0 rgba(255, 255, 255, 0.15);
}

.ig_action_bar.ig_solid.ig_hide .ig_close {
    background-color:#4E3363;
}

.ig_action_bar.ig_form_inline.ig_solid .ig_form_container.layout_inline .ig_form_header,
.ig_action_bar.ig_form_bottom.ig_solid .ig_form_container.layout_bottom .ig_form_header,
.ig_action_bar.ig_form_inline.ig_solid .ig_form_container.layout_inline .ig_form_footer,
.ig_action_bar.ig_form_bottom.ig_solid .ig_form_container.layout_bottom .ig_form_footer,
.ig_action_bar.ig_form_bottom.ig_solid .ig_form_container.layout_bottom .ig_embed_form_container,
.ig_action_bar.ig_form_inline.ig_solid .ig_form_container.layout_inline .ig_embed_form_container{
    text-align: left;
}

@media only screen and (max-width: 768px){
    .ig_action_bar.ig_solid .ig_button, 
    .ig_action_bar.ig_solid input[type="submit"], 
    .ig_action_bar.ig_solid input[type="button"] {
        float: left;
        margin: 0.3em 0 0.3em .7em;
    }
    .ig_action_bar.ig_solid.ig_has_pwby .ig_button, 
    .ig_action_bar.ig_solid.ig_has_pwby input[type="submit"], 
    .ig_action_bar.ig_solid.ig_has_pwby input[type="button"] {
        margin-left: 2.5em;
    } 
}